.footer {
  position: relative;

  .footer-sticker {
    position: absolute;
    top: -80px;
    left: 20vw;
    width: 162px;
    height: 170px;
    background: url(../images/Button_VoteYourHeartOut.png) no-repeat;
    background-size: contain;
  }
}

.footer-container {
  width: 90vw;
  margin-top: 10vh;
  padding-top: 5vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .footer-links {
    flex-direction: column;

    button {
      appearance: none;
      background: transparent;
      display: block;
      color: white;
      font-size: 14px;
      font-family: $sans;
      text-decoration: none;
      padding-bottom: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-logo {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    img {
      display: block;
      width: 100%;
      max-width: 230px;
      margin-right: 2rem;
    }
  }

  .social-icons {
    margin-top: 10px;
    display: flex;

    a {
      display: flex;
      padding: 0 10px;
      text-decoration: none;
      color: black;
      transition: opacity 0.2s ease-in-out;


      img {
        height: 1.667rem;
        margin: 10px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}