.footer {
  position: relative;

  .footer-sticker {
    position: absolute;
    top: -65px;
    left: 20vw;
    width: 123px;
    height: 123px;
    background: url(../images/Button_VoteYourHeartOut.png) no-repeat;
    background-size: contain;
  }
}

.footer-container {
  width: 90vw;
  margin-top: 10vh;
  padding-top: 5vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;

  @include media(">=tablet") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-links {
    flex-direction: column;

    button {
      appearance: none;
      background: transparent;
      display: block;
      color: white;
      font-size: calc(0.1vw + 13px);
      font-family: $sans;
      text-decoration: none;
      padding-bottom: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-logo {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;

    img {
      display: block;
      width: 100%;
      max-width: 230px;
      margin-right: 2rem;
    }
  }

  .copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: calc(0.1vw + 11px);
    line-height: 46px;
    margin-right: 2rem;

    @include media(">=tablet") {
      justify-content: flex-end;
    }
  }

  .social-icons {
    display: flex;

    a {
      display: flex;
      padding: 0;
      text-decoration: none;
      color: black;
      transition: opacity 0.2s ease-in-out;

      img {
        height: 1.667rem;
        margin: 50px 40px 0 0;

        @include media(">=tablet") {
          margin: 0 10px;
        }
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}