@charset "utf-8";
@import "./include-media.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: "recoletabold";
  src: url("../fonts/latinotype_-_recoleta_bold-webfont.woff2") format("woff2"),
    url("../fonts/latinotype_-_recoleta_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// COLORS
$primaryBlue: #282560;
$primaryRed: #EF4239;
$primaryYellow: #F9C01B;
$secondaryBlue: #8888E2;
$secondaryRed: #FFBEED;
$pink: rgba(255, 190, 237, 0.5);

.primary-blue {
  background-color: $primaryBlue;
  color: white
}

.primary-red {
  background-color: $primaryRed;
}

.pink {
  background-color: $pink;
}

.primary-yellow {
  background-color: $primaryYellow;
}

.secondary-blue {
  background-color: $secondaryBlue;
}

.secondary-red {
  background-color: $secondaryRed;
}

.white-text {
  color: white;
}

.red-text {
  color: $primaryRed;
}

// FONTS
$sans: 'Montserrat', sans-serif;
$display: 'recoletabold', sans-serif;

// Atoms
@import "./links.scss";

// Components
@import "./navbar.scss";
@import "./header.scss";
@import "./tabs.scss";
@import "./work.scss";
@import "./outreach.scss";
@import "./dates.scss";
@import "./faqs.scss";
@import "./checklist.scss";
@import "./skills.scss";
@import "./countdown.scss";
@import "./footer.scss";
@import "./sticky.scss";


body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: $sans;
  color: $primaryBlue;
  font-size: 18px;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
}

p {
  margin: 0.5rem 0;
}

h1 {
  font-family: $display;
  font-size: calc(1.6vw + 33px);
  line-height: 1.2;
  text-align: center;
  margin: 0 0 0.7rem;
}

h2 {
  font-family: $sans;
  color: $primaryRed;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 0.7rem;
}

h3 {
  font-family: $sans;
  color: $primaryBlue;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 0.7rem;
}

.header {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.section {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 7.8rem 0 6.3rem;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.mobile-hide {
  @include media("<phone", "<lgphone") {
    display: none;
  }
}

.desktop-hide {
  @include media(">=tablet", ">=desktop") {
    display: none;
  }
}

.small {
  font-size: 0.9em;
}

.email-link,
.link {
  font-size: 1rem;
  color: black;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}