@charset "utf-8";
@import "./include-media.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: "Recoleta-Black";
  src: url("../fonts/Recoleta-Black/font.woff2") format("woff2"),
    url("../fonts/Recoleta-Black/font.woff") format("woff");
}

// COLORS
$primaryBlue: #282560;
$primaryRed: #EF4239;
$primaryYellow: #F9C01B;
$secondaryBlue: #CEECF4;
$secondayRed: #FFBEED;

.primary-blue {
  background-color: $primaryBlue;
  color: white
}

.primary-red {
  background-color: $primaryRed;
}

.primary-yellow {
  background-color: $primaryYellow;
}

// FONTS
$sans: 'Montserrat', sans-serif;
$display: 'Recoleta-Black', sans-serif;

// Atoms
@import "./card.scss";

// Components
@import "./navbar.scss";
@import "./header.scss";
@import "./work.scss";
@import "./about.scss";
@import "./skills.scss";
@import "./countdown.scss";
@import "./footer.scss";


body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Montserrat";
  color: $primaryBlue;
  font-size: 18px;
}

p {
  margin: 0.5rem 0;
}

h1 {
  font-family: $display;
  font-size: 3.4375rem;
  text-align: center;
  margin-top: 0
}

.header {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: auto;
  overflow: hidden;
  padding: 10rem 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  margin: 1rem;
  padding: 1rem 3rem;
  background-color: white;
  color: $primaryBlue;
  border: 0px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.mobile-hide {
  @include media("<phone", "<lgphone") {
    display: none;
  }
}

.desktop-hide {
  @include media(">=tablet", ">=desktop") {
    display: none;
  }
}

.small {
  font-size: 70%;
  line-height: 0.7;
}

.email-link,
.link {
  font-size: 1rem;
  color: black;
}

.bold {
  font-weight: bold;
}