.heart-sticker {
  display: block;
  position: absolute;
  top: -40px;
  right: 10vw;
  width: 115px;
  height: 100px;
}

.outreach-wrapper {
  width: 90vw;
  max-width: 1024px;
}

.outreach-header {
  text-align: center;

  p {
    text-align: center;
    font-weight: bold;
  }

  img {
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
  }
}

.outreach-content {
  display: grid;
  margin: 3rem auto 0;
  border: 1px solid $primaryBlue;
  border-width: 1px 0 0;
  grid-template-columns: repeat(1, 1fr);

  @include media(">=tablet") {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    margin: 3rem auto;
    border-width: 1px 0;
  }

  .column {

    padding: 2rem 0 0;

    &:last-child {
      padding-bottom: 2rem;
    }

    @include media(">=tablet") {
      padding: 4rem;

      &:first-child {
        border-right: 1px solid $primaryBlue;
      }
    }

    p {
      font-size: calc(0.1vw + 13px);
      line-height: 2;
    }
  }
}

.outreach-calendar {
  display: grid;
  margin: 2rem auto 0;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 0;

  h2 {
    margin-top: 2rem;
  }

  @include media(">=tablet") {
    margin: 4rem auto 0;
    grid-template-columns: auto auto auto;
    gap: 0 0;

    h2 {
      margin-top: 0;
    }

    .c1 {
      grid-column: 1 / span 3;
    }

    .c3 {
      padding-left: 100px
    }

  }

  @include media(">=desktop") {
    grid-template-columns: repeat(15% 40% 35%);
    grid-gap: 50px 5%;
    align-items: stretch;

    .c1 {
      grid-column: auto;
    }

    .c3 {
      padding: 0;
    }
  }

  .column {

    @include media(">=tablet") {

      p {
        font-size: calc(0.1vw + 13px);
        line-height: 2;
      }
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 2.5rem;
    background-color: transparent;
    color: $primaryBlue;
    border-radius: 10rem;
    border: 4px solid white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: calc(0.1vw + 13px);
    font-family: $sans;
    font-weight: bold;
    cursor: pointer;

    &.outline-btn {
      border: 1px solid $primaryBlue;

      &:after {
        content: '';
        display: inline-block;
        background: url(../images/arrow-right.svg) no-repeat;
        background-size: contain;
        width: 14px;
        height: 11px;
        margin-left: 8px;
      }
    }

    @include media("<tablet") {
      padding: 1rem;
      width: calc(90% - 2rem);
    }

    &:hover {
      transform: scale(1.05);
    }
  }

}

.calendar-anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}