//sticky btn
button.sticky {
  position: fixed;
  right: 0;
  top: 60%;
  width: 120px;
  height: 100px;
  background-color: $primaryBlue;
  z-index: 99999;
  cursor: pointer;
  transform: translate(0, 0);
  transition: all 0.2s ease-in-out;

  &.slideOut {
    right: -100%;
    transform: translate(100%, 0);
  }

  @include media("<=lgphone") {
    bottom: 10px;
    top: auto;
    width: 90%;
    height: 70px;
    right: 5%;
  }

  span {
    color: white;
    font-weight: bold;
    font-family: $sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90px;
    margin: 0 auto;

    @include media("<=lgphone") {
      max-width: none;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 13px;
      height: 15px;
      background: url(../images/arrow-down.svg) no-repeat;
      background-size: contain;
      transform: translate(0, 0) rotate(0);
    }
  }

  &.bottom {
    span {
      padding-bottom: 12px;

      &:after {
        left: 50%;
        transform: translate(-50%, 0) rotate(0);
        bottom: 12px;
      }
    }
  }

  &.side {
    @include media("<=lgphone") {
      bottom: -100%;
      left: auto
    }

    span {
      padding-left: 12px;

      &:after {
        left: 0;
        top: 50%;
        transform: translate(12px, -50%) rotate(90deg);
      }

    }
  }

  &.top {
    span {
      padding-top: 12px;

      &:after {
        top: 12px;
        left: 50%;
        transform: translate(-50%, 0) rotate(180deg);
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slideOut {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100%, 0);
  }
}


// popup
.popup {
  position: relative;
  background-color: $secondaryBlue;
  align-items: center;
  justify-content: center;
  display: none;

  &.show {
    display: flex;
  }

  .popup-inner {
    padding: 5rem 1rem;
    margin: 0 1rem;
    width: 100%;
    max-width: 680px;

    .popup-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 3rem auto 1rem;

      @include media("<=tablet") {
        flex-direction: column;
        margin: 1rem 2rem;
      }
    }
  }

  .secondary-btn {
    display: block;
    margin: 1rem;
    padding: 0.8rem 3.5rem;
    background-color: $secondaryRed;
    color: $primaryBlue;
    border-radius: 10rem;
    border: 4px solid white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: calc(0.1vw + 13px);
    font-family: $sans;
    font-weight: bold;
    cursor: pointer;

    &.active {
      position: relative;
      z-index: 999;
      transform: scale(1.05);
    }

    &.hide {
      display: none;
    }

    @include media("<tablet") {
      padding: 1rem;
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    span {
      padding: 20px;
    }
  }
}