.registration-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  .links-wrapper {
    width: 100%;
    max-width: 883px;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
}