.header-tabs {
  width: 100vw;

  &.show-popup {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .tabs {
      background-color: transparent;
    }
  }

  .tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $primaryYellow;
  }
}

.primary-btn {
  margin: 0 1rem;
  padding: 1rem 2.5rem;
  background-color: white;
  color: $primaryBlue;
  border: 0px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 18px;
  font-family: $sans;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 99998;

  &.active {
    z-index: 99999;
    transform: scale(1.1);
  }

  @include media(">=tablet") {
    padding: 1rem 3rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}


.panels {
  display: block;
  position: relative;
  z-index: 99998;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: -1px -8px 25px 0px rgba(0, 0, 0, 0.24);
}